._pokemonDetail {
  display: flex;
  ._pokemonCard-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
  }
  ._pokemonInfo-container {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  ._pokemonDetail {
    display: block;
    ._pokemonCard-container {
      width: 100%;
    }
    ._pokemonInfo-container {
      width: 100%;
    }
  }
}
